<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="http://www.frn.utn.edu.ar/images/index1.png">
        </div>

        <h1>
            <span class="site-title">
            [{{site.title}}]
            <br>
            [UTN-FRN]
            </span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Envíame un e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Twitter" title="Sígueme en twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <a aria-label="My Github" title="Ve algunos de mis proyectos" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="Use the RSS to get updated" title="Registra para RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
        </div>

        <ul class="recent">
            <p>Recursos:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="Recursos para la materia" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

        <ul class="recent">
            <p>Pelacionado:</p>
             {% for project in site.projects limit:3%}
                <li>
                    <a title="Proyectos relacionados" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
    {% include menu-search.html %}
</header>
